---
import { getCollection } from "astro:content";
import SampleLayout from "../layouts/SampleLayout.astro";
import News from "../components/News.astro";

// Busca todas as notícias, ordenando da mais recente para a mais antiga
const news = (await getCollection("noticias")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<SampleLayout>
  <h1>Notícias em Destaque</h1>
  <section>
    {news.length === 0 && <p>Nenhuma notícia encontrada.</p>}
    {news.map((singleNews) => (
      <News singleNews={singleNews} />
    ))}
  </section>
</SampleLayout>