---
import { Image } from "astro:assets";
import fakeAd from "../assets/fake_ad_0.jpg";
---

<a href="fake-ad/" class="simple-ad-link">
    <Image
        src={fakeAd}
        alt="Clique para ver mais fotos de cachorros"
        width={200}
        height={200}
        class="ad-image"
    />
    <p class="ad-title">
        Você não vai acreditar no que ele fez com essa técnica.
    </p>
</a>

<style>
    .simple-ad-link {
        display: flex;
        flex-direction: column;

        text-decoration: none;

        color: #000;

        background-color: #fff;
        border: none;

        margin: 0;
        padding: 0;
    }

    .ad-image {
        display: block;
        margin-bottom: 5px;
    }

    .ad-title {
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;
    }
</style>
