---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_DESCRIPTION} />
    <title>{SITE_TITLE}</title>
</head>
